{% extends 'partials/section.html.twig' %}

{% block section_header %}
<div class="row section-heading">
	<div class="col-12">
		<h2 class="section-title mb-5">FAQ</h2>
	</div>
</div>
{% endblock section_header %}

{% block section_content %}
<div class="row">
	<div class="col-12">

		<div id="accordion" class="accordion bg-transparent">

			{% for item in items %}
			<div class="card mb-5 border-bottom shadow-sm{{ loop.first ? ' active': '' }}">
				<div class="card-header">
					<h5 class="mb-0">
					<a class="text-dark " data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}" aria-expanded="true">{{- item.title -}}</a>
					</h5>
				</div>
				<div id="collapse-{{ loop.index }}" class="collapse{{ loop.first ? ' show': '' }}" data-parent="#accordion" style="">
					<div class="card-body">{{- include(template_from_string(item.body), {'page': item}) | trim | replace({'# ': '#### '}) | markdown_to_html | raw | replace({'href=': 'rel="noopener" target="_blank" href='}) | slice(3) | slice(0,-4) -}}</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock section_content %}